name: OpenWRT Build for newifid2

on:
  workflow_dispatch:

env:
  # 基础配置
  REPO_URL: https://github.com/openwrt/openwrt
  REPO_BRANCH: v24.10.5
  FEEDS_CONF: feeds.conf.default
  CONFIG_FILE: openwrt.config
  DIY_P1_SH: diy-part1.sh
  DIY_P2_SH: diy-part2.sh
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout
      uses: actions/checkout@main

    - name: Initialization environment
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo rm -rf /etc/apt/sources.list.d/* /usr/share/dotnet /usr/local/lib/android /opt/ghc
        sudo apt update -y
        sudo apt full-upgrade -y
        sudo apt install -y build-essential clang flex bison g++ gawk gcc-multilib gettext git libncurses5-dev libssl-dev python3-distutils rsync unzip zlib1g-dev file wget curl libxml2 libxml2-dev liblzma-dev libpam-dev libev-dev libsodium-dev
        sudo apt autoremove -y && sudo apt clean -y
        sudo timedatectl set-timezone "$TZ"

    - name: Clone source code
      run: |
        git clone --depth 1 --branch $REPO_BRANCH $REPO_URL openwrt
        cd openwrt
        [ -e $FEEDS_CONF ] && mv $FEEDS_CONF feeds.conf.default

    - name: Load custom feeds
      run: |
        cd openwrt
        chmod +x ../$DIY_P1_SH
        ../$DIY_P1_SH

    - name: Update feeds
      run: |
        cd openwrt
        ./scripts/feeds update -a

    - name: Install feeds
      run: |
        cd openwrt
        ./scripts/feeds install -a

    - name: Load custom configuration
      run: |
        cd openwrt
        chmod +x ../$DIY_P2_SH
        ../$DIY_P2_SH

    - name: Download packages
      run: |
        cd openwrt
        make defconfig
        make download -j8
        find dl -size -1024c -exec ls -l {} \;
        find dl -size -1024c -exec rm -f {} \;

    - name: Compile firmware
      run: |
        cd openwrt
        echo -e "$(nproc) thread compile"
        make -j$(nproc) || make -j1 || make -j1 V=s

    - name: Upload artifact
      uses: actions/upload-artifact@main
      with:
        name: OpenWRT_firmware
        path: openwrt/bin/targets/
